#main-container
  #first-block
    #selectors
      .select
        = select 'brand', 'name', @brand_names, include_blank: 'Choose brand...'
    #phone-info
  #second-block
    #search-form
      = form_tag '/search_phone', method: 'post', remote: true do
        => label_tag :q, 'Phone search:'
        = text_field_tag :q
        = submit_tag 'Search'
    #search-results
