$('.preloader').remove();
var searchResult = JSON.parse('<%= @search_result %>');
var html = '';
if (searchResult.length == 0) {
  html = '<strong>No matches</strong>';
} else {
  html = searchResult.map(function(phone) {
    return '<p><a href="http://www.gsmarena.com/' + phone.value + '">' + phone.text + '</a></p>';
  });
}
$('#search-results').html(html);
