$block-height: 100%;
$block-width: 50%;
$wraper-block-padding: 10px;
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  height: $block-height;
  width: $block-height;
}
body {
  height: $block-height;
  width: $block-height;
}

#main-container {
  height: $block-height;
  width: $block-height;
  // padding: $wraper-block-padding;
  display: flex;

  #first-block {
    order: 1;
    height: $block-height;
    width: $block-width;
    display: inline-block;
    // border: dotted red 1px;
    margin: -1px;

    #selectors {
      margin: 10px;
      padding: $wraper-block-padding;
      // display: inline-block;
      // border: dotted navy 1px;
      // width: $block-width;
      height: 50px;
    }

    #phone-info {
      margin: 10px;
      padding: $wraper-block-padding;
      // display: inline-block;
      // border: dotted silver 1px;
      // width: $block-width;
      // height: $block-height;
    }
  }

  #second-block {
    order: 2;
    height: $block-height;
    width: $block-width;
    display: inline-block;
    // border: dotted green 1px;
    margin: -1px;

    #search-form {
      margin: 10px;
      padding: $wraper-block-padding;
      // border: dotted orange 1px;
      // width: $block-width;
      height: 50px;
    }

    #search-results {
      margin: 10px;
      padding: $wraper-block-padding;
      // display: inline-block;
      // border: dotted blue 1px;
      // width: $block-width;
    }
  }
}

.select, .preloader {
  margin-left: 10px;
  display: inline-block;
}
